.row.vertical-center
  .col-lg-6.col-lg-offset-3
    .text-center
      %span.lead.app-title DazzboarD

      %div
        %p.lead.brand-foreground
          = fa_icon("dashboard")
          Building the right things at the right time. Join us now!

      %div
        = link_to user_facebook_omniauth_authorize_path, class: "btn btn-primary btn-lg" do
          %span
            = fa_icon("facebook-square")
            Sign in with Facebook
