$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;

$brand-primary: #046380;
$brand-bg: #E6E2AF;
$brand-fg: #002F2F;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "sb-admin";
@import "font-awesome";
@import "fullcalendar";
@import "morrisjs-rails";
@import "jquery.minicolors";

// body {
//   background-color: $brand-bg;
// }

.brand-foreground {
  color: $brand-fg;
}

.white-fg {
  color: #fff;
}

.app-title {
  @extend .white-fg;
  font-size: 3.5em;
}

#calendar {
  cursor: pointer;

  h2 {
    font-size: 1.5em;
  }
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
